# directories
artifacts
broadcast
cache
coverage
deployments
docs
node_modules
out
out-optimized
out-svg

# files
*.env
*.env.deployment
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
