[submodule "tests/contract-playground/lib/forge-std"]
	path = tests/contract-playground/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tests/contract-playground/lib/openzeppelin-contracts"]
	path = tests/contract-playground/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
