[submodule "tests/contract-playground/lib/forge-std"]
	path = tests/contract-playground/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tests/contract-playground/lib/openzeppelin-contracts"]
	path = tests/contract-playground/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "tests/contract-playground/lib/solmate"]
	path = tests/contract-playground/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "tests/contract-playground/lib/v2-periphery"]
	path = tests/contract-playground/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "bot/foundry_workspace/lib/forge-std"]
	path = bot/foundry_workspace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tests/foundry-nft-f23/lib/forge-std"]
	path = tests/foundry-nft-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tests/foundry-nft-f23/lib/openzeppelin-contracts"]
	path = tests/foundry-nft-f23/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "tests/ccip-contracts"]
	path = tests/ccip-contracts
	url = https://github.com/smartcontractkit/ccip
[submodule "tests/2024-05-Sablier"]
	path = tests/2024-05-Sablier
	url = https://github.com/alexroan/2024-05-Sablier.git
[submodule "tests/prb-math"]
	path = tests/prb-math
	url = https://github.com/PaulRBerg/prb-math
