[workspace]
members = [
    "aderyn",
    "aderyn_core",
    "aderyn_driver",
    "aderyn_py",
    "bot_example",
    "aderyn_pilot",
    "bot_fw_assembler",
    "bot_starter_pack",
]

resolver="1"

exclude = [
    "bot_ci_cd/bot_starter_pack"
]