[workspace]
members = [
    "aderyn",
    "aderyn_core",
    "aderyn_driver",
    "aderyn_py",
    "bot_example",
    "nyth",
    "bot_fw_assembler",
    "bot",
    "judgeops",
]

resolver="1"

exclude = [
    "bot_ci_cd/bot"
]