[package]
name = "aderyn"
version = "0.3.4"
edition = "2021"
authors = ["Cyfrin <aderyn@cyfrin.io>"]
description = "Rust based Solidity AST analyzer"
license = "MIT"
default-run = "aderyn"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aderyn_driver = { path  = "../aderyn_driver", version = "0.3.3" }
clap = { version = "4.4.6", features = ["derive"] }
reqwest = { version = "0.12.2", default-features = false, features = ["blocking", "json", "rustls-tls"] }
semver = "1.0.22"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = { version = "1.0.96", features = ["preserve_order"] }
strum = { version = "0.26", features = ["derive"] }
notify-debouncer-full = "0.3.1"
cyfrin-foundry-compilers = { version = "0.3.20-aderyn", features = ["svm-solc"]  }
termcolor = "1.4.1"
tokio = { version = "1.40.0", features = ["full"] }
tower-lsp = "0.20.0"
log = "0.4.22"
simple-logging = "2.0.2"
lazy_static = "1.5.0"
