[package]
name = "aderyn"
version = "0.0.7"
edition = "2021"
authors = ["Alex Roan <alex@cyfrin.io>"]
description = "Rust based Solidity AST analyzer"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aderyn_core = { path  = "../aderyn_core" }
clap = { version = "4.4.6", features = ["derive"] }
rayon = "1.8.0"
tokei = "12.1.2"