[package]
name = "aderyn_core"
version = "0.0.26"
edition = "2021"
authors = ["Alex Roan <alex@cyfrin.io>"]
description = "Rust based Solidity AST analyzer backend"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossbeam = "0.8.2"
crossbeam-channel = "0.5.9"
eyre = "0.6.8"
ignore = "0.4.21"
prettytable = "0.10.0"
rayon = "1.8.0"
semver = "1.0.20"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
serde_repr = "0.1.12"
strum = { version = "0.26", features = ["derive"] }
toml = "0.8.2"

[dev-dependencies]
serial_test = "3.0.0"
