export API_KEY_INFURA="YOUR_API_KEY_INFURA"
export EOA="YOUR_EOA_ADDRESS"
export FOUNDRY_PROFILE="lite"
export MNEMONIC="YOUR_MNEMONIC"
export RPC_URL_MAINNET="YOUR_RPC_URL_MAINNET"
export SPHINX_API_KEY="YOUR_API_KEY"
export SPHINX_ORG_ID="YOUR_ORG_ID"
export SPHINX_PROJECT_NAME="YOUR_PROJECT_NAME"
