[package]
name = "aderyn_driver"
version = "0.0.21"
edition = "2021"
authors = ["Alex Roan <alex@cyfrin.io>"]
description = "Rust based Solidity AST analyzer driver"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aderyn_core = { path  = "../aderyn_core", version = "0.0.21" }
rayon = "1.8.0"
foundry-compilers = { git = "https://github.com/foundry-rs/compilers", features = ["svm-solc"] }
