on: [push, pull_request, workflow_dispatch]

name: Aderyn

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test

  reports:
    name: Check Reports
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Generate report2.md
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- -o report2.md ./tests/contract-playground/

      - name: Check report.md vs report2.md
        run: |
          cat report2.md
          diff report.md report2.md

      - name: Generate report2.json
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- -o report2.json ./tests/contract-playground/

      - name: Check report.json vs report2.json
        run: |
          cat report2.json
          diff report.json report2.json

      - name: Generate report3.json
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- --config-file ./tests/aderyn.config.json -o report3.json ./tests/contract-playground/

      - name: Check report-config.json vs report3.json
        run: |
          cat report3.json
          diff report-config.json report3.json

      - name: Generate report3.md
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- --config-file ./tests/aderyn.config.json -o report3.md ./tests/contract-playground/

      - name: Check report-config.md vs report3.md
        run: |
          cat report3.md
          diff report-config.md report3.md

      - name: Generate bot results
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin bot_example

      - name: Check custom_subscription_analysis_report.md 
        run: |
          cat bot_reports/custom_subscription_analysis_report.md
          diff bot_reports/orig_custom_subscription_analysis_report.md bot_reports/custom_subscription_analysis_report.md


  bots:
  
    name: Check Bot creation and testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Ask assembler make a dev archive.zip
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin bot_fw_assembler -- dev ../../aderyn_driver

      - name: Create a bot with nyth
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin nyth -- init bot_ci_cd
      
      - name: ls the bot directory
        run: |
          ls -la bot_ci_cd
          
      - name: Build the bot 
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path ./bot_ci_cd/Cargo.toml

      - name: Add an issue detector to the bot
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin nyth -- new issue bot_ci_cd/src/no_zero_address_check
      
      - name: Add a reusable detector to the bot
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin nyth -- new reusable bot_ci_cd/src/my_reusable_thing

      - name: Build the bot again 
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path ./bot_ci_cd/Cargo.toml 

      - name: Test the bot 
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path ./bot_ci_cd/Cargo.toml


  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings