on: [push, pull_request, workflow_dispatch]

name: Aderyn

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test

  reports:
    name: Check Reports
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      # Verify report.md

      - name: Generate report-workflow.md
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- -o report-workflow.md ./tests/contract-playground/

      - name: Check report.md vs report-workflow.md
        run: |
          cat report-workflow.md
          diff report.md report-workflow.md

      # Verify report-config.md

      - name: Generate report-config-workflow.md
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- --config-file ./tests/aderyn.config.json -o report-config-workflow.md ./tests/contract-playground/

      - name: Check report-config.md vs report-config-workflow.md
        run: |
          cat report-config-workflow.md
          diff report-config.md report-config-workflow.md

      # Verify report.judge.md

      - name: Generate report-workflow.judge.md
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- -o report-workflow.judge.md ./tests/contract-playground/

      - name: Check report.judge.md vs report-workflow.judge.md
        run: |
          cat report-workflow.judge.md
          diff report.judge.md report-workflow.judge.md

      # Verify report-config.judge.md

      - name: Generate report-config-workflow.judge.md
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- --config-file ./tests/aderyn.config.json -o report-config-workflow.judge.md ./tests/contract-playground/

      - name: Check report-config.judge.md vs report-config-workflow.judge.md
        run: |
          cat report-config-workflow.judge.md
          diff report-config.judge.md report-config-workflow.judge.md

      # Verify report.json 

      - name: Generate report-workflow.json
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- -o report-workflow.json ./tests/contract-playground/

      - name: Check report.json vs report-workflow.json
        run: |
          cat report-workflow.json
          diff report.json report-workflow.json

      # Verify report-config.json

      - name: Generate report-config-workflow.json
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- --config-file ./tests/aderyn.config.json -o report-config-workflow.json ./tests/contract-playground/

      - name: Check report-config.json vs report-config-workflow.json
        run: |
          cat report-config-workflow.json
          diff report-config.json report-config-workflow.json

      # Verify bots can report

      - name: Generate report3.json
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- --config-file ./tests/aderyn.config.json -o report3.json ./tests/contract-playground/

      - name: Check report-config.json vs report3.json
        run: |
          cat report3.json
          diff report-config.json report3.json

      - name: Generate report3.md
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- --config-file ./tests/aderyn.config.json -o report3.md ./tests/contract-playground/

      - name: Check report-config.md vs report3.md
        run: |
          cat report3.md
          diff report-config.md report3.md

      - name: Generate bot results
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin bot_example

      - name: Check custom_subscription_analysis_report.md 
        run: |
          cat bot_reports/custom_subscription_analysis_report.md
          diff bot_reports/orig_custom_subscription_analysis_report.md bot_reports/custom_subscription_analysis_report.md

  bots:
  
    name: Check Bot creation and testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Ask assembler make a dev archive.zip
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin bot_fw_assembler -- dev ../aderyn_driver

      - name: Create a bot with nyth
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin nyth -- init bot_ci_cd
          
      - name: Build the bot 
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path ./bot_ci_cd/Cargo.toml

      - name: Add detectors to the bot
        run: |
          cd bot_ci_cd
          ../target/debug/nyth new issue my_issue_detector_thing
          ../target/debug/nyth new reusable my_reusable_thing

      - name: Build the bot again 
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path ./bot_ci_cd/Cargo.toml 

      - name: Test the bot 
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path ./bot_ci_cd/Cargo.toml


  # judgeops:
  
  #   name: Check metrics changes with feedback consistently
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout sources
  #       uses: actions/checkout@v2

  #     - name: Install stable toolchain
  #       uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #         toolchain: stable
  #         override: true

  #     - name: Rename sample.metrics_db.json to sample_renamed.metrics_db.json
  #       run: |
  #         mv sample.metrics_db.json sample_renamed.metrics_db.json

  #     - name: Generate sample.metrics_db.json
  #       run: |
  #         cli/sample_metricsdbgen.sh sample.metrics_db.json

  #     - name: Check sample.metrics_db.json vs sample_renamed.metrics_db.json
  #       run: |
  #         cat sample.metrics_db.json
  #         diff sample_renamed.metrics_db.json sample.metrics_db.json

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings