on: [push, pull_request, workflow_dispatch]

name: Aderyn-py

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install git submodules
        run: |
          git submodule update --init --recursive

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  reports:
    name: Check Reports
    runs-on: ubuntu-latest
    steps:
      - name: foundry-toolchain
        uses: foundry-rs/foundry-toolchain@v1.2.0

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Submodule init
        run: |
          git submodule update --init --recursive

      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - uses: pnpm/action-setup@v4
        with:
          version: 8

      - uses: bahmutov/npm-install@v1
        with:
          useLockFile: false
          working-directory: tests/2024-05-Sablier/v2-core

      - uses: bahmutov/npm-install@v1
        with:
          useLockFile: false
          working-directory: tests/prb-math/

      - name: Setup virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r ./aderyn_py/requirements.txt

      - name: Run tests
        run: |
          source venv/bin/activate
          cd aderyn_py
          maturin develop
          pytest tests
